.botao {
    display: flex;
    align-items:center;
    justify-content: center;
    font-size: 2rem; 
    padding: 10px;
    margin: 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    box-shadow: 5px 5px 5px black;
    
}

.botao:active {
    box-shadow: -5px -3px 3px black;
    
}