:root {
  --font-mono: 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --area-porta-altura: 310px;
  --area-porta-largura: 210px;

}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: #444;
  color: #fff;
}

a {
  color: inherit;
  text-decoration: none;
}

